body {
    font-family: 'Open Sans', sans-serif;
}

.oswal {
    font-family: 'Oswald', sans-serif;
    font-size: 30pt;
}

.navbar {
    margin-top: -1em;
    margin-bottom: -1em;
}

header {
    position: relative;
    background-image: url('../img/bg_hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1 {
    font-size: 2em;
    padding-top: 30rem;
}

h2 {
    font-size: 2em;
}

h5 {
    font-size: 2em;
}

